.App {
  text-align: center;}

  .home{
    background: linear-gradient(to top right,#993300, #ffffff);
  color: black;
  font-weight: bolder;
  text-shadow: 5px,5px #993300;
  }

  .link{
    text-decoration: underline;
    margin-right:20%;
    font-size:1rem;
    color:blue 
  }

  .link2{
    text-decoration: underline;
    margin-left:20%;
    font-size:1rem;
    color:blue
  }

  .location-block{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border:2px ridge #993300
  }

  @media (max-width: 500px){
  .location-block{
    flex-direction: column;
  }
  .h2{
    font-size: large;
    font-weight: bolder;
  }
}
